# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Bath Files\Unit 4\New Bank Project\NewBank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Micellaenous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.vscode/
.code-workspace
.history
.svn/
*.iml
.idea/
/.idea
/classes
.classpath
NewBank.iml
.project
ExampleClient/
out/
auditReport.txt
.gradle/
*/TransactionsTable.txt
*/newbank.uml
