# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/Users/annalenegoosen/Documents/Computer Science MSc/Software Engineering 2/Coursework 1/Group-13-NewBank/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Micellaenous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.vscode/
.code-workspace
.history
.svn/
.idea/
.classpath
NewBank.iml
.project
ExampleClient/